// color
$color-primary: #3fb27f;
$color-background: #1b1b1b;
$color-fonts: #a5a5a5;
$color-white: #ffffff;
$color-light-grey: #e0e0e0;
$color-black: #000000;

// width
$body-global-width: 1200px;
$body-search-width: 600px;

// size
$font-size-xlg: 48px;
$font-size-lg: 24px;
